{% extends "base.html" %}

{% load common_tags %}
{% load flatblock_tags %}

{% block header %}<h2>Восстановление пароля</h2>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <form action="{% url 'auth_password_reset' %}" class="form-horizontal" method="POST">{% csrf_token %}
                {% include 'common/elements/form.html' %}
                {% include 'common/elements/form_submit.html' with text='Отправить' %}
            </form>
        </div>
        <div class="col-lg-4">
            {% flatblock "password_reset.text" %}
        </div>
    </div>
{% endblock %}
