{% extends "accounts/base.html" %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="{% url 'accounts_profile' %}">Личный кабинет</a></li>
        <li class="active">Изменение пароля</li>
    </ul>
{% endblock %}


{% block header %}
    <h2>Изменение пароля</h2>
{% endblock %}

{% block account_content %}
    <form method="post" action="" class="form-horizontal col-lg-8">{% csrf_token %}
        {% include "common/elements/form.html" %}
        {% include "common/elements/form_submit.html"  %}
    </form>
{% endblock %}
