{% extends "base.html" %}

r{% load common_tags %}
{% load flatblock_tags %}

{% block header %}
    <h2>Регистрация</h2>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-8">

            {% block registration_form %}
                <form action="{% url 'registration_register' %}" class="form-horizontal" method="POST">{% csrf_token %}

                    {% include 'common/elements/form_errors.html' %}

                    {% for hf in form.hidden_fields %}{{ hf }}{% endfor %}

                    {% include 'common/elements/form_field.html' with label=1 item=form.first_name %}
                    {% include 'common/elements/form_field.html' with label=1 item=form.email %}
                    {% include 'common/elements/form_field.html' with label=1 item=form.password %}

                    {% include 'common/elements/form_submit.html' with text='Регистрация' %}

                </form>
            {% endblock %}
        </div>
        <div class="col-lg-4">
            {% flatblock "registration.text" %}
        </div>
    </div>
{% endblock %}
