AddHandler wsgi-script .wsgi

RewriteEngine On

#Force non-www:
RewriteCond %%{HTTP_HOST} www.(.*)$ [NC]
RewriteRule ^(.*)$ http://%%1/$1 [R=301,L]

RewriteCond %%{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /django.wsgi/$1 [QSA,PT,L]

