{% extends "base.html" %}

{% block title %}Обратная связь - {{block.super}}{% endblock %}

{% block header %}
    <h1>Обратная связь</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <br/>
            <form class="form form-horizontal" method="POST" action=".">{% csrf_token %}
                {% include "common/elements/form.html" with form=form %}
                {% include "common/elements/form_submit.html" with text='Отправить' %}
            </form>
        </div>

    </div>
{% endblock %}
